<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom px-5">
    <div class="col-md-3 mb-2 mb-md-0">
        <h2>Health Leveling</h2>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        @for (rota of rotas; track $index) {
            <li *ngIf="rota.data" [routerLink]="rota.path">
                <span class="nav-link px-2 link-primary">{{ rota.data["nome"] }}</span>
            </li>
        }
    </ul>

    <div class="col-md-3 d-flex flex-column text-end">
        <h5 class="m-0">{{ usuario.nome }}</h5>
        <p class="m-0">Pontos: {{ usuario.pontos }}</p>
    </div>
</header>